@use '../../assets/styles/index' as i;

.button {
  width: 8rem;
  @include i.flex-center;
  height: 100%;
  margin-left: .4em;;
  cursor: pointer;
  border: 3px solid #FCF02D;
  border-radius: 50px;
  padding: .6rem 0;
  color: black;
}