@use '../../assets/styles/index' as i;

.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}