@use '../../assets/styles/index' as i;

.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  @include i.respond-to(desktop) {
    padding: 1rem 2rem;
  }

  @include i.respond-to(large-desktop) {
    padding: 2rem 3rem;
  }

  &__nav {
    display: flex;

    .button-profile {

    }


    .button-menu {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, .3);
    }

    & > * {
      margin-left: 1.2rem;
    }
  }
}