@use '../../assets/styles/index' as i;

.movie {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 5rem 1rem 0 1rem;
  margin: 0 auto;

  @include i.respond-to(tablet) {
    max-width: 577px;
  }

  > * {
    margin: 1rem 0;
  }

  &__header {
    width: 100%;

    button {
      width: 100%;
      border-radius: 3px;
      margin: 1rem 0 0 0;
    }

    @include i.respond-to(desktop) {
      display: flex;
      align-content: center;
      justify-content: space-between;

      button {
        max-width: 12rem;
        padding: 1rem 2rem;
        margin: 0;
      }
    }

    @include i.respond-to(large-desktop) {
      display: flex;
      align-content: center;
      justify-content: space-between;

      button {
        max-width: 12rem;
        padding: 1rem 2rem;
        margin: 0;
      }
    }
  }

  &__video {
    display: block;
    width: 100%;
    height: auto;

    &-frame{
      width: 100%;
      height: auto;
      border: none;
      border-radius: 3px;
      aspect-ratio: 16 / 9;
    }
  }

  &__subtitle {
    font-size: 1.2rem;
    font-weight: 400;
  }

  &__content {
    @include i.respond-to(desktop) {
      display: flex;
      flex-direction: row;
    }

    @include i.respond-to(large-desktop) {
      display: flex;
      flex-direction: row;
    }
  }

  &__description {
    @include i.respond-to(desktop) {
      width: 26rem;
    }

    @include i.respond-to(large-desktop) {
      min-width: 28rem;
    }
  }

  &__background-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;

    @include i.respond-to(desktop) {
      max-width: 26rem;
    }

    @include i.respond-to(large-desktop) {
      max-width: 32rem;
    }
  }

  &__infromation {
    @include i.respond-to(desktop) {
      display: flex;
      flex-direction: column;
    }

    @include i.respond-to(large-desktop) {
      display: flex;
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 1rem 0;

    @include i.respond-to(desktop) {
      flex-direction: column;
      justify-content: start;
    }

    @include i.respond-to(large-desktop) {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      row-gap: 1rem;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-item:nth-child(1) {
      margin-right: 1rem;
    }

    &-icon {
      margin-right: .3rem;
    }

    &-label {
      margin-right: .3rem;
    }
  }

  &__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__details-term,
  &__details-definition {
    display: inline-flex;
    align-items: center;
  }

  &__details-term {
    font-weight: bold;
    width: 150px;
  }

  &__details-definition {
    font-style: italic;
    margin-left: 0.5rem;
  }

  &__details-item {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: .3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__background-image {
    border: 1px solid #FCF02D;
    border-radius: 3px;

    @include i.respond-to(desktop) {
      margin: 0 0 0 2rem;
    }

    @include i.respond-to(large-desktop) {
      margin: 0 0 0 2rem;
    }
  }
}

.movie {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include i.respond-to(desktop) {
      flex-direction: row;
      align-items: flex-start;
      gap: 2rem;
    }
  }

  &__video {
    &-frame {
      max-width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
    }
  }

  &__info {
    @include i.respond-to(desktop) {
      align-items: flex-start;
    }
  }
}