@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 576px) {
      @content; // mobile
    }
  }
  @else if $breakpoint == tablet {
    @media (min-width: 577px) {
      @content; // tablet
    }
  }
  @else if $breakpoint == desktop {
    @media (min-width: 769px) {
      @content; // desktop
    }
  }
  @else if $breakpoint == large-desktop {
    @media (min-width: 993px) {
      @content; // large desktop
    }
  }
}