// Colors
$clr-yellow: rgb(252, 240, 45);
$clr-yellow-lt: rgba(252, 240, 45, .5);
$clr-white: rgb(255, 255, 255);
$clr-white-lt: rgba(255, 255, 255, .5);
$clr-gray: rgb(155, 154, 154);
$clr-black: rgb(0, 0, 0);

// Font
$font-family: 'Poppins', sans-serif;