// Colors
$primary-color: rgba(255, 217, 0, 1);
$secondary-color: rgba(27, 27, 27, .55);
$background-color: rgba(0, 0, 0, 1);
$text-color:rgba(255, 255, 255, 1);
$border-color: rgba(255, 217, 0, 1);

// Font
$font-family: 'Poppins', sans-serif;